<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <h:outputStylesheet name="reset.css" library="css" />
        <h:outputStylesheet name="bootstrap.css" library="css" />
        <h:outputStylesheet name="bootstrap-responsive.css" library="css" />
        <h:outputStylesheet name="principal.css" library="css" />
        <h:outputScript name="jquery.min.js" library="js" />
        <ui:insert name="css_adicional">
        </ui:insert>
        <meta content='width=1100' name='viewport'/>
        <meta content='Arthur Assunção' name='author'/>
        <meta content='©2013 Arthur Assunção' name='copyright'/>
        <title>
            <ui:insert name="titulo_pagina">
                Sistema de Agendamento de Exames - AgendaExames
            </ui:insert>
        </title>
    </h:head>
    <h:body>
        <div id='wrapper'>
            <div class='clearfix' id='principal'>
                <ui:insert name="navbar">
                    <div class="navbar navbar-fixed-top">
                        <div class="navbar-inner">
                            <div class="container">
                                <a class='btn btn-navbar' data-target='.nav-collapse' data-toggle='collapse'>
                                    <span class='icon-bar'></span>
                                    <span class='icon-bar'></span>
                                    <span class='icon-bar'></span>
                                </a>
                                <a class='brand' href='/'>AgendaExames</a>
                                <div class='nav-collapse' id='barra_menu'>
                                    <ul class='nav' id='nav'>
                                        <li><a href='/'>Início</a></li>
                                        <li><a href='http://blog.arthurassuncao.com/p/busca.html'>Agenda</a></li>
                                        <li><a href='http://lattes.cnpq.br/8136835668168874'>Pacientes</a></li>
                                        <li><a href='http://lattes.cnpq.br/8136835668168874'>Exame</a></li>
                                        <li><a href='http://lattes.cnpq.br/8136835668168874'>Medicos</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </ui:insert>
                <div class='container'>
                    <br />
                    <br />
                    <ui:insert name="cabecalho">
                        <h1>Sistema de Agendamento de Exames</h1>
                    </ui:insert>
                    <ui:insert name="conteudo">
                        Aula de JSF 2.0 - criando templates de página
                    </ui:insert>
                </div>
                <!--/conteudo-->
                <!-- /div principal -->
            </div>
            <!-- /div wrapper -->
        </div>
        <ui:insert name="rodape">
            <!-- RODAPÉ -->
            <footer>
                <div class='container'>
                    <div class='row'>
                        <div class='span2 offset1'>
                            <ul class='unstyled justify'>
                                <h4>Links</h4>
                                <small>
                                    <li><a href='http://arthurassuncao.com'>Site</a></li>
                                    <li><a href='http://github.com/arthurassuncao'>Repositórios no Github</a></li>
                                    <li><a href='http://lattes.cnpq.br/8136835668168874'>Currículo Lattes</a></li>
                                    <li><a href='http://www.youtube.com/arthurassuncao11'>Youtube</a></li>
                                </small>
                            </ul>
                        </div>
                    </div>
                    <div class='row links_secundarios'>
                        <div class='span5'>
                        </div>
                        <div class='span4'>
                            <small>
                                <span id='copyright'>&#169; Arthur Assunção 2013</span>
                            </small>
                        </div>
                    </div>
                </div>
            </footer>

        </ui:insert>
        <h:outputScript name="bootstrap.min.js" library="js" />
        <ui:insert name="js_adicional">
        </ui:insert>

    </h:body>
</html>
