<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core">
    <ui:insert name="preprocessado">
        <f:metadata>
            <f:event type="preRenderView" listener="#{UsuarioController.verificaLogin()}"/>
        </f:metadata>  
    </ui:insert>
    <h:head>
        <h:outputStylesheet name="reset.css" library="css" />
        <h:outputStylesheet name="bootstrap.css" library="css" />
        <h:outputStylesheet name="bootstrap-responsive.css" library="css" />
        <h:outputStylesheet name="jquery_tablesorter/themes/light_gray/style.css" library="js" />
        <h:outputStylesheet name="principal.css" library="css" />
        <h:outputScript name="jquery.min.js" library="js" />
        <ui:insert name="css_adicional">
        </ui:insert>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta content='Arthur Assunção' name='author'/>
        <meta content='©2013 Arthur Assunção' name='copyright'/>
        <title>
            <ui:insert name="titulo_pagina">
                Sistema de Agendamento de Exames - AgendaExames
            </ui:insert>
        </title>
    </h:head>
    <h:body>
        <div id='wrapper'>
            <div class='clearfix' id='principal'>
                <ui:insert name="navbar">
                    <div class="navbar navbar-inverse navbar-fixed-top">
                        <div class="navbar-inner">
                            <div class="container">
                                <a class='btn btn-navbar' data-target='.nav-collapse' data-toggle='collapse'>
                                    <span class='icon-bar'></span>
                                    <span class='icon-bar'></span>
                                    <span class='icon-bar'></span>
                                </a>
                                <h:link styleClass="brand" outcome='/index.xhtml' value="AgendaExames" />
                                <div class='nav-collapse' id='barra_menu'>
                                    <ul class='nav' id='nav'>
                                        <li><h:link outcome='/index.xhtml'><i class="icon-home icon-white"></i> Início</h:link></li>
                                        <li><h:link outcome='/user/agenda.xhtml'><i class="icon-book icon-white"></i> Agenda</h:link></li>
                                        <li><h:link outcome='/user/paciente.xhtml'><i class="icon-user icon-white"></i> Paciente</h:link></li>
                                        <li><h:link outcome='/user/exame.xhtml'><i class="icon-calendar icon-white"></i> Exame</h:link></li>
                                        <li><h:link outcome='/user/medico.xhtml'><i class="icon-user icon-white"></i> Medico</h:link></li>
                                        <li><h:link outcome='/user/consulta_relatorio.xhtml'><i class="icon-list-alt icon-white"></i> Relatório</h:link></li>

                                        <h:form style="margin-top: 10px; margin-bottom: 0px" class="pull-right">
                                            <h:commandLink action="#{UsuarioController.logout()}" ><i class="icon-off icon-white"></i> Sair</h:commandLink>
                                        </h:form>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </ui:insert>
                <div class='container'>
                    <br />
                    <br />
                    <div id="conteudo">
                        <ui:insert name="cabecalho">

                        </ui:insert>
                        <ui:insert name="conteudo">
                            Aula de JSF 2.0 - criando templates de página
                        </ui:insert>
                    </div>
                </div>
                <!--/conteudo-->
                <!-- /div principal -->
            </div>
            <!-- /div wrapper -->
        </div>
        <ui:insert name="rodape">
            <!-- RODAPÉ -->
            <footer>
                <div class='container'>
                    <div class='row'>
                        <div class='span2 offset1'>
                            <ul class='unstyled justify'>
                                <h4>Links</h4>
                                <small>
                                    <li><a href='http://arthurassuncao.com'>Site</a></li>
                                    <li><a href='http://github.com/arthurassuncao'>Repositórios no Github</a></li>
                                    <li><a href='http://lattes.cnpq.br/8136835668168874'>Currículo Lattes</a></li>
                                    <li><a href='http://www.youtube.com/arthurassuncao11'>Youtube</a></li>
                                </small>
                            </ul>
                        </div>
                    </div>
                    <div class='row links_secundarios'>
                        <div class='span5'>
                        </div>
                        <div class='span4'>
                            <small>
                                <span id='copyright'>&#169; Arthur Assunção 2013</span>
                            </small>
                        </div>
                    </div>
                </div>
            </footer>

        </ui:insert>
        <h:outputScript name="bootstrap.min.js" library="js" />
        <h:outputScript name="jquery_tablesorter/jquery.tablesorter.min.js" library="js" />
        <h:outputScript name="jquery_tablesorter/jquery.metadata.js" library="js" />
        <h:outputScript name="jquery.maskedinput.min.js" library="js" />
        <h:outputScript name="principal.js" library="js" />
        <ui:insert name="js_adicional">
        </ui:insert>

    </h:body>
</html>
